# AWS Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-south-1
AWS_BUCKET_NAME=nimbus-vault

# Security
SECRET_KEY=change_this_to_a_secure_random_string
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Database (RDS Support)
# Leave these blank or entirely delete them to fallback to local SQLite
RDS_ENGINE=mysql
RDS_HOST=
RDS_PORT=3306
RDS_USER=
RDS_PASSWORD=
RDS_DB_NAME=nimbus
# DATABASE_URL=sqlite:///./nimbus.db
